[env]
_.path = ["{{ config_root }}/node_modules/.bin"]

[tasks.start]
run = '''
vite dev
'''

[tasks.test]
run = '''
tsc -b -f tsconfig.build.json
eslint src --max-warnings=0
vitest run
'''

[tasks.build]
run = '''
vite build
'''

[tasks.publish]
description = "Deploy home frontend to CDN"
env.BUCKET = "cdn--seahax-194722422414"
env.DISTRIBUTION = "E2UQKRZMWSCWZ"
env.PREFIX = "/app/hex"
run = '''
pnpm test
pnpm build
aws s3 cp dist "s3://${BUCKET}${PREFIX}" \
  --recursive \
  --exclude "*" \
  --include "assets/*" \
  --cache-control "public, max-age=31536000, immutable" \
  --storage-class INTELLIGENT_TIERING
aws s3 cp dist "s3://${BUCKET}${PREFIX}" \
  --recursive \
  --exclude "assets/*" \
  --exclude "*tsbuildinfo" \
  --cache-control "public, max-age=60, stale-while-revalidate=2592000" \
  --storage-class INTELLIGENT_TIERING
aws cloudfront create-invalidation \
  --distribution-id "$DISTRIBUTION" \
  --paths "${PREFIX}/index.html"
'''
